
__pycache__/
*.pyc
dsadsadsa/.idea/modules.xml
dsadsadsa/.idea/inspectionProfiles/Project_Default.xml
*.xml
August-22/.idea/August-22.iml
August-22/.idea/modules.xml
August-22/.idea/new_direct.iml
August-22/.idea/inspectionProfiles/Project_Default.xml
August-22/.idea/inspectionProfiles/profiles_settings.xml
